@page
@model TrackItWeb.Pages.Fitness.Exercise.MSWorkoutDetailsModel
@{
	ViewData["Title"] = "details.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Index">fitness</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Exercise/Exercises">exercises</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.Index_VM.WorkoutName.ToLower()</li>
	</ol>
</nav>

<h1>@Model.Index_VM.WorkoutName.ToLower().</h1>
<h2><b>muscle group</b>: @Model.Index_VM.MuscleGroup.ToLower(). </h2>
<h2><b>workout type</b>: @Model.Index_VM.WorkoutType.ToLower().</h2>
<hr class='mt-3' />

<p style="font-size:20px"><b>description:</b> @Model.Index_VM.Description</p>
<hr class='mt-3' />

@if (@Model.Index_VM.Link.Length > 0)
{
	<div class="float-start mt-3">
		<p class="fw-bold">video</p>
		<iframe width="500" height="281" src="@Model.Index_VM.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
}
