@page
@model TrackItWeb.Pages.Workout.MSWorkoutDetailsModel
@{
	ViewData["Title"] = "details.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Workout/Index">fitness</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Workout/Weekly">weekly exercises</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.Index_VM.WorkoutName.ToLower()</li>
	</ol>
</nav>

<h1>@Model.Index_VM.WorkoutName.ToLower().</h1>
<h2>muscle group: @Model.Index_VM.MuscleGroup.ToLower(). // </h2>
<h2>workout type: @Model.Index_VM.WorkoutType.ToLower()</h2>

<p style="font-size:20px"><b>description:</b> @Model.Index_VM.Description</p>
<div style="margin-top: 40px"></div>
<div class="float-end mt-3">
	<h4>created by: you</h4>
</div>
<div class="float-start mt-3">
	<p class="fw-bold">video</p>
	<iframe width="390" height="220" src="@Model.Index_VM.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
