@page
@model TrackItWeb.Pages.Fitness.Log.LogsModel
@{
	ViewData["Title"] = "logs.";
}
<style>
	.form-check-input:checked {
		background-color: #000;
		border-color: #000;
	}
</style>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Fitness/Index">fitness</a></li>
		<li class="breadcrumb-item active" aria-current="page">logs</li>
	</ol>
</nav>


<div class="row">
	<div class="col-xl-8 col-6">
		<h2 class="fw-bold">logs.</h2>
	</div>
	<div class="col-xl-4 col-6">
		<a class="btn btn-dark btn-sm rounded-0 float-end" href="/Fitness/Log/AddLog">create new log.</a>
	</div>
</div>


<form method="get">
	<div class="row">
		<div class="col-xl-12 col-12">
			<p>
				<button class="btn btn-transparent btn-sm rounded-0 mt-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					<img style="height: 10px; width:10px; margin-bottom:3px;" src="~/filter.png" /><span class="fw-bold" style="font-size:14px"> Filters</span>
				</button>
			</p>
			<div class="collapse" id="collapseExample">
				<div class="card card-body border-0">
					<div class="row float-start">
						<div class="col-xl-1 col-3">
							<label class="form-label text-dark float-start fw-bold">order by.</label>
							<select id="" style="width: 100px; height:29px" class="form-control-sm border border-2 rounded-0 bg-transparent text-dark fw-bold" asp-for="@Model.Parameters["OrderBy"]" name="orderBy">
								<option class="text-dark" value="date-desc" selected>created date descending</option>
								<option class="text-dark" value="date-asc">created date ascending</option>
							</select>
						</div>
						<div class="col-xl-3 col-3">
							<div class="form-check form-switch" style="margin-top: 35px">
								<label class="form-label text-dark fw-bold">is done?</label>
								<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="@Model.Parameters["IsDone"]" name="isDone">
							</div>
						</div>
						<div class="col-xl-5 col-5" style="margin-top: 28px">
							<button class="btn btn-dark btn-sm rounded-0 float-start" type="submit">filter.</button>
							<a class="btn btn-dark btn-sm rounded-0 float-start" style="margin-left: 20px" href="/Fitness/Log/Logs" type="submit">remove filters.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<form method="post">
	<div class="row p-2">
		@foreach (var item in Model.Index)
		{
			<div class="col-xl-3 col-sm-4 col-6 mt-3">
				<div class="card border-2 border-dark" style="width: 16rem;">
					<div class="card-body">
						<div class="row">
							@if (item.WorkoutName.Length > 10)
							{
								<h5 class="card-title "><a class="text-dark" href="/Fitness/Log/UpdateLog?guid=@item.GUID">@item.WorkoutName.Substring(0, 10).ToLower()...</a></h5>
							}
							else
							{
								<h5 class="card-title "><a class="text-dark" href="/Fitness/Log/UpdateLog?guid=@item.GUID">@item.WorkoutName.ToLower()</a></h5>
							}
							<div class="col-9">
							</div>
							<div class="col-3 mb-2">
								<button class="btn btn-outline-danger btn-sm border-0 rounded-0 float-end" asp-route-guid="@item.GUID" type="submit" data-toggle="tooltip" onclick="return confirm('are you sure?');" data-original-title="Delete" asp-page-handler="Delete">X</button>
							</div>
						</div>
						<div class="row">
							<div class="col-8 mt-2">
								<p class="card-text fw-bold">created date: @item.CreatedDate.ToShortDateString()</p>
							</div>
							<div class="col-4" style="padding-left: 18px">
								<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-guid="@item.GUID" asp-page="/Fitness/Log/UpdateLog">➔</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</form>