@page
@model TrackItWeb.Pages.Health.Recipe.RDetailsModel
@{
	ViewData["Title"] = "recipe details. // " + Model.Index_VM.Title.ToLower(); 
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Health/Index">health</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Health/Recipe/Recipes">recipes</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.Index_VM.Title.ToLower()</li>
	</ol>
</nav>

<h1>@Model.Index_VM.Title.ToLower().</h1>
<h2>prep time: @Model.Index_VM.PrepTime min. // cook time: @Model.Index_VM.CookTime min. </h2>
<h3>serving size: @Model.Index_VM.Serve.</h3>
<h4>season: @Model.Index_VM.Season</h4>
<h5>health level.</h5>
<div class="progress">
	@{
		int level = 0;

		level = 20 * Model.Index_VM.HealthLevel;
	}
	<div class="progress-bar bg-dark" style="width: @level%" aria-valuenow="@Model.Index_VM.HealthLevel">
	</div>
</div>
<div class="mt-3"></div>
<p style="font-size:20px"><b>ingreditens:</b> @Model.Index_VM.Ingredients</p>
<p style="font-size:20px"><b>directions:</b> @Model.Index_VM.Directions</p>
<div class="float-end mt-3">
	<h4>created by: @Model.Index_VM.CreatedBy</h4>
</div>
