@page
@model TrackItWeb.Pages.Nutrient.RecipesModel
@{
	ViewData["Title"] = "recipes.";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Nutrient/Index">health</a></li>
		<li class="breadcrumb-item active" aria-current="page">recipes</li>
	</ol>
</nav>

<h1 class="fw-bold text-center"> recipes.</h1>

<div class="row">
	@foreach (var item in Model.Index_VM)
	{
		<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title.ToLower()</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-4 d-flex justify-content-center col-6 mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-4 col-6 d-flex justify-content-center mt-3">
			<div class="card border-2 border-dark" style="width: 16rem;">
				<div class="card-body">
					<h5 class="card-title text-center"><a class="text-dark" href="/Nutrient/RDetails?id=@item.RecipeID">@item.Title</a></h5>
					<div class="row mt-3">
						<div class="col-4">
							<p style="font-size:12px">prep time: @item.PrepTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">cook time: @item.CookTime min.</p>
						</div>
						<div class="col-4">
							<p style="font-size:12px">serve size:<br> @item.Serve ppl.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p class="card-text fw-bold p-2">created by: @item.CreatedBy</p>
						</div>
						<div class="col-4">
							<a class="btn btn-outline-dark border-2 btn-sm m-3 rounded-0 fw-bold" asp-route-id="@item.RecipeID" asp-page="/Nutrient/RDetails">➔</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>