@page
@model TrackItWeb.Pages.Health.Log.LogDetailsModel
@{
	ViewData["Title"] = "nutrient log details. // " + Model.MyModel.Calorie + " cal";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Health/Index">health</a></li>
		<li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-dark" href="/Health/Log/Logs">logs</a></li>
		<li class="breadcrumb-item active" aria-current="page">log details</li>
	</ol>
</nav>

<form method="post">
	<div class="row">
		<div class="col-xl-9 col-9">
			<input type="hidden" asp-for="@Model.MyModel.MemberNutrientID">
			<input type="hidden" asp-for="@Model.MyModel.GUID">
			<h4 class="fw-bold">@Model.MyModel.NutrientName // @Model.MyModel.Brand</h4>
		</div>
		<div class="col-xl-3 col-3">
			<p style="font-size: 17px;" class="fw-bold float-end">@Model.MyModel.CreatedDate.ToString("dd/MM/yyyy")</p>
		</div>
	</div>
	<hr class='mt-1' />
	<div class="row mt-4">
		@{
			string type = "";
		}
		@if (Model.MyModel.NutrientType == 1) { type = "ml"; }
		else { type = "gr"; }
		<div class="col-xl-12 col-12">
			<div class="row">
				<div class="col-xl-1 col-2">
					<p class="fw-bold mt-1">portions:</p>
				</div>
				<div class="col-xl-2 col-4">
					<div class="row">
						<div class="col-6">
							<input type="number" class="form-control border-2 rounded-0 bg-transparent text-dark fw-bold" style="width: 70px; height: 25px;" asp-for="@Model.MyModel.ServingSize" />
						</div>
						<div class="col-6">
							<p class="fw-bold mt-1">@type</p>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-6">
					<p class="fw-bold mt-1 float-end">calorie: @Model.MyModel.Calorie kcal</p>
				</div>
			</div>
		</div>
	</div>
	<hr class='mt-3 mb-3' />
	<h5 class="fw-bold mt-3 text-center">macros.</h5>
	<div class="row mt-4" style="font-size: 14px">
		<div class="col-xl-3 col-3 text-center">
			<p class="fw-bold">carb: @Model.MyModel.TotalCarb.ToString("0.00") @type</p>
		</div>
		<div class="col-xl-3 col-3 text-center">
			<p class="fw-bold">fat: @Model.MyModel.TotalFat.ToString("0.00") @type</p>
		</div>
		<div class="col-xl-3 col-3 text-center">
			<p class="fw-bold">protein: @Model.MyModel.TotalProtein.ToString("0.00") @type</p>
		</div>
		<div class="col-xl-3 col-3 text-center">
			<p class="fw-bold">sugar: @Model.MyModel.TotalSugar.ToString("0.00") @type</p>
		</div>
	</div>
	<hr class='mt-3 mb-3' />
	<label class="form-label text-dark float-start fw-bold mt-3" for="typeEmailX">notes.</label>
	<textarea type="text" class="form-control form-control-md border-2 rounded-0 bg-transparent text-dark fw-bold" asp-for="@Model.MyModel.Notes"></textarea>

	<div class="col-xl-12 col-12 d-flex justify-content-center mt-4">
		<button class="btn btn-dark btn-md rounded-0 float-end" type="submit">update.</button>
	</div>
</form>
